@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

.main-wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
}

.content-wrapper {
  flex-grow: 1;
  padding: 2.5rem 1.9rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}

.breadcrumbs > ul {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: min-content;
}

.breadcrumbs > ul > li {
  display: flex;
  align-items: center;
}

.simplebar-content:after,
.simplebar-content:before {
  content: " ";
  display: table;
}

.simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
}

.leftmenu-wrapper {
  width: 250px;
  transition: all 0.3s;
  position: sticky;
  bottom: 0;
  top: 0;
  height: 100vh;
  min-width: 10rem;
}

.profile-group .profile-image::after {
  content: "\270E";
  color: black;
  background-color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 18px;
  position: relative;
  top: -24px;
  left: 84px;
}

.effect a .iconsSet svg {
  width: 35px;
  height: 35px;
  padding: 4px;
  border-radius: 15px;
  transition: all 0.5s;
}

.effect a:hover .iconsSet svg,
.effect a.active .iconsSet svg.fill-current {
  background-color: black;
  fill: white;
}

.effect a:hover {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 15px;
  color: black;
}

.table :where(th, td) {
  padding: 1rem 1.5rem;
}

.menu li > *:not(ul, .menu-title, details, .btn).active {
  background-color: white;
  color: black;
  border-radius: 15px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-steps {
  width: 40%;
  margin: 10px auto 40px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon,
:where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon {
  background-color: #333333;
  border-color: #333333;
}

:where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: #ffffff;
}

:where(.css-dev-only-do-not-override-3rel02).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #000000;
}

.filtersSet::after {
  content: "";
  display: block;
  width: 1px;
  height: 15px;
  color: #b1b1b1;
  background-color: #b1b1b1;
  margin-left: 14px;
}

.modal-box {
  border-radius: 20px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-drawer
  .ant-drawer-header-title {
  display: flex;
  flex-direction: row-reverse;
}

:where(.css-dev-only-do-not-override-3rel02).ant-drawer .ant-drawer-body {
  padding: 10px;
}

.collapse-content .checkbox {
  height: 1rem;
  width: 1rem;
}

:where(.css-dev-only-do-not-override-3rel02).ant-drawer .ant-drawer-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

:where(.css-dev-only-do-not-override-3rel02).ant-drawer .ant-drawer-header {
  padding: 35px 24px 10px 24px;
  border-bottom: none;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-btn-default:not(:disabled):not(
    .ant-btn-disabled
  ):hover,
button.ant-btn.css-dev-only-do-not-override-zg0ahe.ant-btn-primary.btn.bg-\[\#000\].w-full.text-\[\#fff\].text-\[17px\].font-\[500\].rounded {
  color: #040404;
  border-color: #4d4d4d;
  background: #ffffff;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-steps
  .ant-steps-item-process
  .ant-steps-item-icon,
:where(.css-dev-only-do-not-override-zg0ahe).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon {
  background-color: #2d3748;
  border-color: #4d4d4d;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-steps
  .ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon {
  color: #fff;
}
:where(.css-dev-only-do-not-override-zg0ahe).ant-steps
  .ant-steps-item-container {
  border-color: #4d4d4d;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title::after {
  background-color: #4d4d4d;
}

:where(
    .css-dev-only-do-not-override-zg0ahe
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select,
:where(
    .css-dev-only-do-not-override-zg0ahe
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select {
  width: 36rem;
  height: 17rem;
  border-radius: 20px;
}

:where(
    .css-dev-only-do-not-override-zg0ahe
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover,
:where(
    .css-dev-only-do-not-override-zg0ahe
  ).ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
  border-color: #4d4d4d;
}

.ant-picker-input {
  input {
    min-width: 0 !important;
    width: 0 !important;
  }

  span.ant-picker-suffix {
    font-size: 24px;
    margin: 0;
  }
}

.custom-date-picker .ant-picker-input > input {
  color: inherit; /* Inherit text color */
}

.dark-mode .custom-date-picker .ant-picker-input > input {
  color: white; /* White color in dark mode */
}

.dark-mode .custom-date-picker .ant-picker-input .ant-picker-suffix {
  color: white; /* White color for the icon in dark mode */
}

.ant-tabs-nav-list {
  width: 100%;

  .ant-tabs-tab {
    padding: 0;
    width: 34%;
    height: 52px;

    .ant-tabs-tab-btn {
      width: 100%;
      text-align: center;
    }

    div#rc-tabs-0-tab-1 {
      color: rgb(34 197 94);
      background-color: rgb(220 252 231);
      padding: 16px 0;
      font-size: 16px;
      font-weight: 600;
      border-radius: 20px 0 0 20px;
    }

    div#rc-tabs-0-tab-2 {
      color: rgb(249 115 22);
      background-color: rgb(253 230 138);
      padding: 16px 0;
      font-size: 16px;
      font-weight: 600;
    }

    div#rc-tabs-0-tab-3 {
      color: rgb(220 38 38);
      background-color: rgb(254 202 202);
      padding: 16px 0;
      font-size: 16px;
      font-weight: 600;
      border-radius: 0 20px 20px 0;
    }
  }
}

.ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  display: none;
}

:where(.css-dev-only-do-not-override-zg0ahe).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0;
}

@media (hover: hover) {
  @supports (color: oklch(0% 0 0)) {
    .btn-ghost:hover {
      background-color: transparent;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:where(.css-dev-only-do-not-override-3rel02).ant-tabs
  .ant-tabs-tab
  + .ant-tabs-tab {
  margin: 0;
}

.sample_download {
  font-size: 14px;
  color: darkslateblue;
}

.sample_download:hover {
  color: black;
}

.tab-active {
  background: black !important;
}
